ngc6888.jpeg filter=lfs diff=lfs merge=lfs -text
Orion_Nebula.jpg filter=lfs diff=lfs merge=lfs -text
Tadpole_Nebula.jpg filter=lfs diff=lfs merge=lfs -text
Tail_Of_RHO.jpg filter=lfs diff=lfs merge=lfs -text
veil.jpeg filter=lfs diff=lfs merge=lfs -text
Anteater_Nebula.jpg filter=lfs diff=lfs merge=lfs -text
c80.jpg filter=lfs diff=lfs merge=lfs -text
Centaurus_A.jpg filter=lfs diff=lfs merge=lfs -text
IC2118.jpg filter=lfs diff=lfs merge=lfs -text
ngc6888-2.jpg filter=lfs diff=lfs merge=lfs -text
WR-134.jpg filter=lfs diff=lfs merge=lfs -text
carinaSHOcity.jpg filter=lfs diff=lfs merge=lfs -text
iris.jpeg filter=lfs diff=lfs merge=lfs -text
